
<div class="row">
<div class="col-md-3">
  <div class="card" style="margin-top: 20px; text-align: center">
    <%= image_tag @task.picture, class: "card-img-top" %>
    <div class="card-block">
      <h4 class="card-title"><%= @task.name %></h4>
      <p class="card-text"><%= @task.description %></p>
    </div>
  </div>
</div>
</div>

<h4>Usuarios TOP 5:</h1>
<ul>
  <% completadas = UserTask.where(task: @task).sort_by {|record| record.created_at} %>
  <% completadas.take(5).each do |record| %>
    <% usuario = User.where(id: record.user_id).first %>
    <% id = usuario.id %>
    <% picture = usuario.picture %>
  <li><%= image_tag picture %>
  <%= id %></li>
  <% end %>
</ul>

<h4>Usuarios que la han completado:</h1>
<ul>
  <% @task.users.pluck('id').each do |id| %>
  <li><%= id %></li>
  <% end %>
</ul>
